@charset "UTF-8";
/* CSS Document */

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color:#22cd46;
	
	background-image:url(bg_left_menu.png);
	background-repeat:repeat-y;
	
	font-family:"Verdana";
	
	z-index:-10000;
}

a {
	color:blue;
}

#title  {
	position:absolute;
	left:10px;
	top:7px;
	padding:5px;
	
	z-index:100;
	font-family:Verdana;
	font-size:20px;
	font-weight:bold;
	
	color:#001300;
	
	z-index:110;
}

a #title {
	color:#001300;
	text-decoration:none;
}

#top_bar {
	position:absolute;
	left:0px;
	top:0px;
	height:52px;
	width:100%;
	background-color:#FFCC00;
	background-image:url(top_bar.png);
	background-repeat:repeat-x;
	
	border-bottom:1px dashed #333;
	
	z-index:100;
}

#userbar {
	position:absolute;
	top:10px;
	right:10px;
	padding:8px;
	text-transform:uppercase;
	font-family:Verdana;
	font-size:12px;
	z-index:105;
}

#gradient  {
	z-index:0;
	
	height:210px;;
	width:190px;
	float:left;
	
	background-image:url(gradient.png);
	background-repeat:no-repeat;
}

#left_menu {
	float:left;
	margin-top:53px;
	margin-right:50px;
	height:500px;
	padding-right:15px;
	width:164px;
	
	z-index:95;

	text-transform:uppercase;
	font-family:Verdana;
	font-size:13px;
	
}

#left_menu .item {
	color:black;
	padding:13px;
	padding-left:22px;
	border-bottom:1px dashed #333;
}

#left_menu .mystuff {
	font-style:italic;
}

#left_menu div:hover {
	background-color:white;
}


#left_menu a {
	color:black;
	text-decoration:none;
}

#content_main {

	float:left;
	margin:10px auto;

	margin-top:80px;
	margin-bottom:90px;
	width:630px;
	
	text-align:left;
	
	padding:13px;
	border:1px dashed #333;
	background-color:#22ad46;
	
	font-size:14px;
	
	z-index:1000;
}

#content_main .item {
	padding:8px;
	margin:5px;
	background-color:#22bd46;
}

h2 {
	font-size:15px;
}

h3 {
	font-size:15px;
	background-color:#FFCC00;
	padding:5px;
}

p {
	background-color:#22bd46;
	padding:10px;
	
	font-size:12px;
}

/* FORMS */
input {
	font-family:"Verdana";
}

textarea {
	background-color:#CCFFCC;
	padding:3px;
	font-size:13px;
	margin:3px;
}

input.textarea {
	height:21px;
	background-color:#CCFFCC;
	padding:3px;
	font-size:15px;
	margin:3px;
}

input.button {
	margin-top:5px;
	height:25px;
	font-size:13px;
}